@model TimeOffTracker.Models.ShowUserViewModel

@{
    ViewBag.Title = "Блокировка записи";
}

@using (Html.BeginForm("SwitchLockoutUser", "Admin", new {@class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    if (Model.LockoutTime == null)
    {
        <h3>Заблокировать запись?</h3>
    }
    else
    {
        <h3>Разблокировать запись?</h3>
    }
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.FullName, new { @value = @Model.FullName, @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Email, new { @value = @Model.Email, @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateCreate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.DateCreate, new { @value = @Model.DateCreate, @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AllRoles, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.AllRoles, new { @value = @Model.AllRoles, @readonly = "readonly", @class = "form-control" })
        </div>
    </div>
    if (Model.LockoutTime == null)
    {
        <input type="submit" class="btn btn-danger" value="Заблокировать" />
    }
    else
    {
        <input type="submit" class="btn btn-success" value="Разблокировать" />
    }

    @Html.ActionLink("Отмена", "AdminUsersPanel", null, new { @class = "btn btn-default" })
}
