@model TimeOffTracker.Models.CreateUserModel

@{
    ViewBag.Title = "CreateUser";
}
@*"CreateUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" })*@
@Html.ValidationSummary(false)
@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AvailableRoles, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @foreach (var item in Model.AvailableRoles)
            {
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="SelectedRoles"
                           value="@item.Value" /> @item.Text
                    </label>
                </div>
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>

    @Html.ActionLink("Отмена", "AdminUsersPanel", null, new { @class = "btn btn-default" })
}


@*@model TimeOffTracker.Models.CreateUserModel

@{
    ViewBag.Title = "CreateUser";
}
@*"CreateUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" })*@
@*@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Имя</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Пароль</label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>

    @Html.ActionLink("Отмена", "AdminUsersPanel", null, new { @class = "btn btn-default" })
}*@