@model TimeOffTracker.Models.CreateUserViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Creating a new account</h3>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmploymentDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(x => x.EmploymentDate, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AvailableRoles, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @foreach (var item in Model.AvailableRoles)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="SelectedRoles"
                               value="@item.Value" checked="@item.Selected" /> @item.Text
                    </label>
                </div>
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>

    @Html.ActionLink("Cancel", "AdminUsersPanel", null, new { @class = "btn btn-default" })
}
