@model TimeOffTracker.Models.ManagerModels.RequestsModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Datails</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Full name</dt>
            <dd>@Model.FullNameEmployee</dd>
            <dt>Email</dt>
            <dd>@Model.EmailEmployee</dd>
            <dt>Type</dt>
            <dd>@Model.VacationType</dd>
            <dt>Dates</dt>
            <dd>@Model.DateStart.ToShortDateString()</dd>
            <dd>@Model.DateEnd.ToShortDateString()</dd>
            </dl>
            <div class="table-responsive">
                <table class="table table-bordered">
                <caption>Approvers</caption>
                <tr class="label-info">
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
                @foreach (var appr in Model.Approvers)
                {
                    <tr>
                        <td>@appr.Approver.FullName</td>
                        <td>@appr.Approver.Email</td>
                        <td>@appr.Status.Name</td>
                    </tr>
                }
                </table>
            </div>
        </div>
</div>