@model TimeOffTracker.Models.ManagerModels.ListRequestsModel
@{
    ViewBag.Title = "ManagerPanel";
}

@if (Model.Items.Count == 0)
{
    <span>No requests</span>
}
else
{
    <div class="table-responsive" style="width:100%;">
        <table class="table table-hover table-condensed">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Description</th>
                    <th>Approvers</th>
                    <th></th>
                    <th>Status</th>
                    <th>Reason</th>
                </tr>

                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    var request = Model.Items[i];
                    if (i - 1 >= 0)
                    {
                        if (Model.Items[i].EmailEmployee != Model.Items[i - 1].EmailEmployee)
                        {
                            <tr>
                                <td>
                                    <div class="glyphicon glyphicon-user"></div>
                                    @request.FullNameEmployee<br/>
                                    <div class="glyphicon glyphicon-send"></div>
                                    @request.EmailEmployee
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div class="glyphicon glyphicon-user"></div>
                                @request.FullNameEmployee<br />
                                <div class="glyphicon glyphicon-send"></div>
                                @request.EmailEmployee
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td>@request.VacationType</td>
                        <td>@request.DateStart.ToShortDateString()</td>
                        <td>@request.DateEnd.ToShortDateString()</td>
                        <td>@request.Description</td>

                        <td>
                            @foreach (var approver in request.Approvers)
                            {
                                @approver.Approver.FullName<br />
                            }
                        </td>
                        <td>
                            @foreach (var approver in request.Approvers)
                            {
                                @approver.Approver.Email<br />
                            }
                        </td>
                        <td>
                            @foreach (var approver in request.Approvers)
                            {
                                @approver.Status.Name<br />
                            }
                        </td>
                        <td>
                            @foreach (var approver in request.Approvers)
                            {
                                @approver.Reason<br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}