<link href="~/Content/Request.css" rel="stylesheet" />
@model TimeOffTracker.Models.VacationRequestViewModels
<h1>Create request</h1>
<p>@Model.User.UserName</p>
<form id="verificationRequestForm">
    <div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.VacationRequest.DateStart)
            @Html.ValidationMessageFor(model => model.VacationRequest.DateStart)
            @Html.EditorFor(model => model.VacationRequest.DateStart, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VacationRequest.DateEnd)
            @Html.ValidationMessageFor(model => model.VacationRequest.DateEnd)
            @Html.EditorFor(model => model.VacationRequest.DateEnd, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.VacationRequest.Description)
            @Html.ValidationMessageFor(model => model.VacationRequest.Description)
            @Html.EditorFor(model => model.VacationRequest.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter  description" } })
        </div>
        <div class="form-group">
            <label for="VacationRequest.VacationTypesId">Vacation type</label><br />
            <select class="form-control" name="VacationRequest.VacationTypesId" required>
                @foreach (var type in Model.VacationTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
            <span class="text-danger field-validation-error" asp-validation-for="VacationRequest.VacationTypesId"></span>
        </div>
        <div class="form-group" id="form-approvers">
            <label for="Approvers">Approvers</label><br />
            <input class="form-control" id="searchApprover" placeholder="Choose approver" type="text" />
            <div id="approversList"></div>
            <p class="selected-approvers-paragraph">Selected approvers: </p>
            <div id="selectedApprovers" class="selected-approvers"></div>
        </div>
        <div>
            <button class="btn btn-primary" type="button" id="submitBtn" disabled>Send</button>
        </div>
    </div>
</form>




<div class="modal fade" id="requestModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Success</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your verification request has been created</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Error</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-danger" id="textError">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/create-request.js"></script>
<script>
    chooseApprovers(@Html.Raw(Json.Encode(Model.Approvers)));
</script>